@CHARSET "ISO-8859-1";

.z-menubar-hor,.z-menubar-ver {
	position: static;
	border-color: #D8D8D8 !important;
    border-radius: 10px 10px 10px 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    display: block !important;
    padding: 8px 0 0px !important;
}

.z-menu-body-over .z-menu-inner-l,.z-menuitem-body-over .z-menuitem-inner-l,.z-menu-body-over .z-menu-inner-r,.z-menuitem-body-over .z-menuitem-inner-r
	{
	background-repeat: no-repeat;
	background-position: 0 0;
}

.z-menu-body-over .z-menu-inner-r,.z-menuitem-body-over .z-menuitem-inner-r
	{
	background-position: 0 -40px;
}

.z-menu-body-over .z-menu-inner-m,.z-menuitem-body-over .z-menuitem-inner-m
	{
	background-repeat: repeat-x;
	background-position: 0 -80px;
	overflow: hidden;
}

.z-menu-body-over .z-menu-inner-m .z-menu-btn,.z-menuitem-body-over .z-menuitem-inner-m .z-menu-btn
	{
	color: #00547A;
}

.z-menu-inner-m .z-menu-btn, .z-menuitem-inner-m .z-menuitem-btn {
	padding: 0 4px !important;
	line-height: 25px;
}